body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  background-color: #fff;
  /* Enlaza la tipografia Open Sans */
  font-family: 'Open Sans', sans-serif;
}

/*Menu*/
.menu {
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
.menu ul li{
	display: inline-block;
	margin-top: 10px;
}
.menu.flex-container{
	justify-content: flex-start;
}

.logo-container{
	margin-left: auto;
	margin-right: 20px;
}

.flex.container .logo{
	width: 70px;

}
.menu li a{
	text-decoration: none;
	color: black;
	padding: 25px;
}
.menu li a:hover{
	background-color: #2Ecc71;
	color: #fff;
}

/*Home*/
#home{
	height: 600px;
	margin-top: 70px;

	background-image:  url(../assets/images/bg-home.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;

	justify-content: center;
	align-items: center;
	flex-direction: column;

	color: white;
}

.text-home{
	font-size: 2.4em;
}

.btn-home{
	padding: 15px;
	background-color: #2Ecc71;
	color: white;
	text-decoration: none;
	border-radius: 5px;
	margin-top: 60px;

}

/*Services*/
#services{
	background-color: #F17C72;
	text-align: center;
	color: #fff;
	padding: 70px;
}
#services.flex-container{
	justify-content: space-around;
	flex-wrap: wrap;
}
.box-services{
	font-size: 1.2em;
	font-weight: bold;
}
#services h6{
	margin: 0;
}

/*Footer*/
footer {
	background-color: #373b47;
	color: white;
	justify-content: center;
}